<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadet Profile</title>
</head>
<body>

<h2>Cadet Profile</h2>

<img src="{{ url_for('static', filename='uploads/' + user.profile_image) }}"
     width="150" alt="Profile Photo">

<form method="POST" enctype="multipart/form-data">

    <label>Name</label><br>
    <input type="text" name="name" value="{{ user.name }}"><br><br>

    <label>Rank</label><br>
    <input type="text" name="rank" value="{{ user.rank }}"><br><br>

    <label>Profile Photo</label><br>
    <input type="file" name="photo"><br><br>

    <button type="submit">Update Profile</button>
</form>
<br>
<a href="{{ url_for('cadet_dashboard') }}">Back to Dashboard</a>

</body>
</html>
